.card {
    display: grid;
    grid-template-rows: 200px auto;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: gainsboro;
}

.name {
    font-weight: 600;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2em;
    height: 2.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    color: #444;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.imgWrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.price {
    justify-self: end;
    font-weight: 700;
    font-size: 20px;
}

.qtyContainer {
    display: flex;
    justify-content: space-between;
}

.qtySelector {
    display: flex;
    /* border: 1px solid black; */
}

.qty {
    width: 32px;
    padding: 0;
    border: none;
    text-align: center;
    background-color: transparent;

    /* hide spinner for firefox */
    -moz-appearance: textfield;
}

.qty::-webkit-inner-spin-button,
.qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qtyButton {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.cardButton {
    display: flex;
    justify-content: space-between;
}

.view,
.addCart {
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.addCart:hover {
    background-color: white;
    color: black;
}