.header {
    display: flex;
    background-color: black;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
    width: 100%;
    position: sticky;
    top: 0;
}

.shopName,
.cart {
    width: 150px;
    text-align: center;
}

.shopName {
    font-weight: 1000;
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 50px;
    cursor: pointer;
}

.nav a {
    border-bottom: 2px solid transparent;
}

.nav a:hover {
    border-bottom: 2px solid white;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cartQty {
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}