.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 30px;
}

.shop h1 {
    color: white;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px;
    width: min(100%, 1200px);
    margin: 0 auto;
}

@media (max-width: 450px) {
    .cardContainer {
        padding: 0;
    }
}